@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@* CATEGORY VIEW *@

<h1>CATEGORIES</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <tr>
    <Thead>
        <th>Id</th>
        <th>CategoryName</th>
        <th>CreatedBy</th>
        <th>ModifiedBy</th>
        <th>DeletedBy</th>
        <th>CreatedDate</th>
        <th>ModifiedDate</th>
        <th>DeletedDate</th>
        <th>IsDeleted</th>
        <th>Actions</th>
    </Thead>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CategoryName</td>
                <td>@item.CreatedBy</td>
                <td>@item.ModifiedBy</td>
                <td>@item.DeletedBy</td>
                <td>@item.CreatedDate</td>
                <td>@item.ModifiedDate</td>
                <td>@item.DeletedDate</td>
                <td>@item.IsDeleted</td>
                <td>
                    <a asp-action="Update" asp-controller="Category" asp-route-id="@item.Id" class="btn btn btn-outline-warning">Update</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" class="btn btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>